@using DealsWhat.Helpers
@model DealsWhat.ViewModels.ViewShoppingCartViewModel

<div class="gap"></div>

<h3>View Cart</h3>
<div class="row">
    <div class="col-md-8">
        <table class="table cart-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Name</th>
                    <th>QTY</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="cart-item-tbody">

            </tbody>
        </table>
        <a href="#" class="btn btn-primary">Update the cart</a>
    </div>
    <div class="col-md-3">
        <ul class="cart-total-list">
            <li>
                <span>Sub Total</span><span></span>
            </li>
            <li>
                <span>Shipping</span><span>$0.00</span>
            </li>
            <li>
                <span>Taxes</span><span>$0.00</span>
            </li>
            <li><span>Total</span><span></span>
            <li>
                <span>Total</span><span></span>
            </li>
        </ul>
        <a href="@Url.Action("CheckOut", "Order")" class="btn btn-primary btn-lg">Checkout</a>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            loadCart();
        });

        function loadCart() {
            $.ajax({
                url: baseUrl + "api/cart/",
                method: 'get',
                dataType: 'json',
                cache: false,
                success: function (carts) {
                    buildCartDom(carts);
                },
                complete: function () {
                }
            });
        }

        function removeCartItem(cartItemId) {
            $.ajax({
                url: baseUrl + "api/cart/" + cartItemId,
                method: 'delete',
                cache: false,
                success: function (carts) {
                    // Reload carts.
                    location.reload();
                },
                complete: function () {
                }
            });
        }

        function buildCartDom(carts) {
            var tbody = $('#cart-item-tbody');

            var dom = '';
            $.each(carts, function (index, cart) {

                dom += '<tr>' +
               '<td class="cart-item-image"><a href="' + cart.DealUrl + '"><img height="70px" width="70px" src="' + cart.DealThumbnailUrl + '"/></a></td>' +
                    '<td><a href="' + cart.DealUrl + '">' + cart.ShortName + '</a></td>' +
                    '<td class="cart-item-quantity"><i class="fa fa-minus cart-item-minus"></i><input type="text" name="cart-quantity" class="cart-quantity" value="1" /><i class="fa fa-plus cart-item-plus"></i></td>' +
                    '<td>' + cart.SpecialPrice + '</td>' +
                    '<td class="cart-item-remove"><a class="fa fa-times"  onClick="removeCartItem(\'' + cart.Id + '\')"></a></td>' +
                    '</tr>';
            });

            tbody.append(dom);
        }
    </script>
}