<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'DealsWhat.FrontEnd' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>d852814c-1ca5-49b3-9ace-d48249df9854</InstrumentationKey>
</ApplicationInsights>