<div class="gap-medium"></div>

<div class="contentDealDetails">
    <p>
        <strong>DEALSWHAT MALAYSIA (STRATEGIC MULTIDEALS)</strong><br />
        <strong><strong>Terms and Conditions</strong></strong>
    </p>

    <p>&nbsp;</p>

    <p><strong>1.1</strong>&nbsp;You are reading a legal document which is the agreement between you, the Customer (whom we refer to as &quot;you&quot;, &quot;your&quot; or the &quot;Customer&quot; in this document) and us. We are DealsWhat Malaysia (Strategic Multideals) and we are the owner of this website. We are a company with our registered office at D-109, Block D, Kelana Square, Jalan SS7/26, Kelana Jaya,&nbsp;47301 Petaling Jaya, Selangor, Malaysia (and we refer to ourselves as &quot;DealsWhat Malaysia&quot;, &quot;we&quot; or &quot;us&quot; or &quot;our&quot; in this document).</p>

    <p><strong>1.2</strong>&nbsp; Please read this agreement carefully. By browsing, accessing or using this website or by using any facilities or services made available through it or by transacting through or on it, you are deemed to have read, understood and agreed to observe, comply and be bound with the terms and conditions that appear below (all of which are called the &quot;Agreement&quot;). This Agreement is made between you and us.</p>

    <p><strong>1.3&nbsp;</strong>We reserve the right to amend these terms and conditions at any time and it is your responsibility to review these terms and conditions on each occasion you purchase a Voucher. All amendments to these terms and conditions will be posted on-line and disclosed to you by email to the email address you Register with us. You may terminate this Agreement by written notice to us (either by email at&nbsp;support@dealswhat.com&nbsp;or by post or fax) if you do not wish to be bound by such new terms and conditions. However, continued use of the Service or the Website or a Voucher will be deemed to constitute acceptance of the new terms and conditions.</p>

    <p><strong>1.4</strong>&nbsp;Your statutory rights: As a consumer, nothing in this Agreement affects your non-excludable statutory rights.</p>

    <p><strong>2. DEFINITIONS</strong></p>

    <p><strong>2.1</strong>&nbsp;In this Agreement, we use various defined terms. You will know they are defined because they begin with a capital letter. This is what they mean:</p>

    <p><strong>2.1.1</strong>&nbsp;&quot;Breach of Duty&quot; is defined in clause 10.11.1.</p>

    <p>
        <strong>2.1.2</strong>&nbsp;&ldquo;DealsWhat Voucher&quot; means voucher purchased by you on Website to exchange or redeem for the Voucher Services.<br />
        <br />
        <strong>2.1.3</strong>&nbsp;&nbsp;&quot;Liability&quot; is defined in clause 10.11.2.
    </p>

    <p><strong>2.1.4</strong>&nbsp; &quot;Merchant&quot; means the party who shall supply or provide the Voucher Services.</p>

    <p><strong>2.1.5</strong>&nbsp; &quot;Microsite&quot; means direct subdomains, subpages, redirected subdomains, subpages and any other web display pages directly and indirectly correlated to dealswhat.com.</p>

    <p><strong>2.1.6</strong>&nbsp;&quot;Purchase&quot; means the purchase of a DealsWhat Voucher.</p>

    <p><strong>2.1.7</strong>&nbsp;&quot;Register&quot; means &quot;create an account on the Website&quot; (and &quot;Registration&quot; means the action of creating an account).</p>

    <p><strong>2.1.8</strong>&nbsp;&quot;Service&quot; means all or any of the services provided by DealsWhat Malaysia via the Website (or via other electronic or other communication from DealsWhat Malaysia) including the information services, content and transaction capabilities on the Website (including the ability to make a Purchase).</p>

    <p><strong>2.1.9</strong>&nbsp; &ldquo;Voucher Services&rdquo; means the products and/or services to be supplied and/or provided by the Merchant.</p>

    <p><strong>2.1.10</strong>&nbsp;&quot;Voucher Products&quot; means goods and/or services offered by a particular Merchant which are described as part of a Voucher.</p>

    <p><strong>2.1.11</strong>&nbsp;&quot;Website&quot; means the website www.dealswhat.com website and/or any Microsite.</p>

    <p><strong>3. GENERAL ISSUES ABOUT THIS WEBSITE AND THE SERVICE</strong></p>

    <p><strong>3.1</strong>&nbsp;Applicability of these terms and conditions: Use by you of the Service and the Website and any Purchase are each subject to the terms and conditions set out in this Agreement.</p>

    <p><strong>3.2</strong>&nbsp;Age: To use the Service and make any Purchase of a DealsWhat Voucher, you must be 18 years of age or over.</p>

    <p><strong>3.3</strong>&nbsp;Place: The Website and the Service and any Purchase are directed solely at those who access the Website from Malaysia. We make no representation that the Service (or any goods or services) are available or otherwise suitable for use outside of Malaysia. If you choose to access the Website (or use the Service or make a Purchase) from locations outside Malaysia, you do so on your own initiative and are responsible for the consequences and for compliance with all applicable laws.</p>

    <p><strong>3.4</strong>&nbsp;Scope: The Website, Service and any Purchase are for your non-commercial, personal use only and must not be used for business purposes. For the avoidance of doubt, scraping of the Website (and hacking of the Website) is not allowed.</p>

    <p><strong>3.5</strong>&nbsp;Prevention on use: We reserve the right to prevent you using the Website and the Service (or any part of them) and to prevent you from making any Purchase.</p>

    <p><strong>3.6</strong>&nbsp;Equipment: The Service and use of the Website and the making of any Purchase does not include the provision of a computer or other necessary equipment to access the Website or the Service or to make any Purchase. To use the Website or Service or to make a Purchase, you will require Internet connectivity and appropriate telecommunication links. We shall not be liable for any telephone costs, telecommunications costs or other costs that you may incur.</p>

    <p><strong>4. REGISTRATION AND ACCOUNTS</strong></p>

    <p><strong>4.1</strong>&nbsp;Why to register: You do not need to Register to use much of the functionality of the Website or to access much of the Service. However, you must Register in order to make a Purchase from the Website. This is so that we can provide you with easy access to print your orders, view your past purchases and modify your preferences. We reserve the right to decline a new Registration or to cancel an existing Registration at any time.</p>

    <p><strong>4.2</strong>&nbsp;How to register: To Register you need to supply us with your name, postcode, email address, payment details and possibly some other personal information. See our Privacy Policy for more details about this.</p>

    <p><strong>4.3</strong>&nbsp;Passwords: Once you finish Registration, we will allocate a password to you and your account. You must keep the password confidential and immediately notify us if any unauthorised third party becomes aware of that password or if there is any unauthorised use of your email address or any breach of security known to you. You agree that any person to whom your user name or password is disclosed is authorised to act as your agent for the purposes of using (and/or transacting via) the Service and Website. Please note that you are entirely responsible if you do not maintain the confidentiality of your password.</p>

    <p><strong>4.4</strong>&nbsp;Valid email addresses: All accounts must be registered with a valid personal email address that you access regularly, so that, among other things, moderation emails can be sent to you. Any accounts which have been registered with someone else&rsquo;s email address or with temporary email addresses may be closed without notice. We may require users to re-validate their accounts if we believe they have been using an invalid email address.</p>

    <p><strong>4.5</strong>&nbsp;Closing accounts: We reserve the right to close accounts if any user is seen to be using proxy IPs (Internet Protocol addresses) in order to attempt to hide the use of multiple registration accounts, or if an non-malaysian user pretends to be a user, or disrupts the Website or the Service in any way.</p>

    <p><strong>4.6</strong>&nbsp;Multiple logons: If you use multiple logins for the purpose of disrupting a community or annoying other users you may have action taken against all of your accounts.</p>

    <p><strong>5. PURCHASE OF DEALSWHAT VOUCHERS</strong></p>

    <p><strong>5.1</strong>&nbsp;Need for Registration:&nbsp; DealsWhat Malaysia sells DealsWhat Vouchers via the Website that can be redeemed for Voucher Services from a Merchant. You must Register in order to make a Purchase from the Website.</p>

    <p><strong>5.2</strong>&nbsp;Emails: Subject to the following, we will send you administrative and promotional emails. We may send you information regarding your account activity and purchases, as well as updates about the Website and Service and DealsWhat Vouchers as well as other promotional offers after you opt-in to receiving such emails by submitting your email address to us via our webpage. If you do not wish to receive promotional e-mails, you can send an &lsquo;unsubscribe-request&rsquo; to&nbsp;support@dealswhat.com&nbsp;with your wish to opt out of further emails. You can also opt-out of our promotional e-mails at any time by clicking the &lsquo;unsubscribe&rsquo; link at the bottom of any of such e-mail correspondence.</p>

    <p><strong>5.3</strong>&nbsp;When a DealsWhat Voucher transaction is complete: When you go through the procedure for purchasing a Voucher, after you have confirmed your acceptance to these terms and conditions and after we have taken payment (by debit card or credit card or whatever) the transaction will be complete only when we email you confirming the transaction (which is our acceptance of the transaction and when a contract for Purchase is made). We keep a copy of the contract between us. You are welcome to print out these terms and conditions from our Website as a record.&nbsp;</p>

    <p><strong>5.4</strong>&nbsp;&nbsp;This Agreement applies: By making a Purchase, you acknowledge that the Purchase is made subject to this Agreement.</p>

    <p><strong>5.5</strong>&nbsp;Redemption: Once you have made a Purchase, the DealsWhat Voucher is redeemable by you from the Merchant stated on the DealsWhat Voucher. The Voucher Services for which the DealsWhat Voucher can be redeemed will be stated on the DealsWhat Voucher, together with the period of validity of the DealsWhat Voucher. The DealsWhat Voucher must be redeemed within the period of validity stated on the DealsWhat Voucher and you will not be entitled to any refund or credit from us for unused vouchers which have expired. Any attempt by you to redeem a DealsWhat Voucher contrary to the terms and conditions of this Agreement may render a DealsWhat Voucher void at our or a Merchants discretion.</p>

    <p><strong>5.6</strong>&nbsp;Responsibility: The Merchant, and not DealsWhat Malaysia, is:</p>

    <p><strong>5.6.1</strong>&nbsp;the supplier of the Voucher Services;</p>

    <p><strong>5.6.2</strong>&nbsp;solely responsible for supplying you with the Voucher Services and for the Voucher Services themselves; and</p>

    <p><strong>5.6.3</strong>&nbsp;solely responsible for redeeming any DealsWhat Voucher you Purchase from us.</p>

    <p><strong>5.7&nbsp;</strong>We do not act as agent for the Merchant. Where a Voucher Service includes the sale and/or supply of alcohol, that sale and/or supply is made by the Merchant and not by us and the Merchant is responsible for complying with all applicable laws relating to that sale/supply. Where a Voucher Service includes the sale/supply of travel services and/or arranges for another person a right of passage, the supply of services and/or arrangements is made by the Merchant and not by us, and the Merchant is responsible for complying with all applicable laws relating to the travel services/right of passage.</p>

    <p><strong>5.8</strong>&nbsp;Restrictions: (i) Reproduction, sale, resale or trade of a DealsWhat Voucher is prohibited. Any attempt to carry out any of these may void the DealsWhat Voucher at our discretion; (ii)&nbsp;Duplicate&nbsp;or/and multiple redemption of the DealsWhats Voucher shall be null and void. Notwithstanding the foregoing, DealsWhat shall have the absolute discretion to request the Vouchers Holder to&nbsp; reimburse the DealsWhats Voucher price and/or any costs incurred thereto to recover the DealsWhats Voucher price in the event&nbsp; DealsWhat finds the Vouchers Holder causes&nbsp;duplicate&nbsp;and/or multiple redemption of the DealsWhats Voucher and the redemption of Voucher Services has been completed. (iii)&nbsp;The DealsWhat Voucher must be redeemed for VoucherServices. If the Merchant allows the DealsWhat Voucher to be redeemed for products and services that are not VoucherServices, there will be no entitlement to a credit, cash or new DealsWhat Voucher equal to the difference between the value of the Voucher Services and the value of the products and services provided by the Merchant to you upon redemption of the DealsWhat Voucher. Also, DealsWhat Vouchers are redeemable in their entirety only and may not be redeemed incrementally.</p>

    <p><strong>5.9</strong>&nbsp;Combination: It is at the discretion of the Merchant to determine whether DealsWhat Vouchers can be combined with any other promotions, vouchers, third party certificates or coupons.</p>

    <p><strong>5.10</strong>&nbsp;Lost/stolen vouchers: Neither we nor the Merchant are responsible for lost or stolen DealsWhat Vouchers or voucher reference numbers and no replacement DealsWhat Voucher shall be issued.</p>

    <p><strong>5.11</strong>&nbsp;Expiry: The DealsWhat Voucher (including, but not limited to, any discounts provided by the DealsWhat Voucher) expires on the date specified on the DealsWhat Voucher.</p>

    <p><strong>5.12</strong>&nbsp;Status of vouchers: All DealsWhat Vouchers are promotional vouchers that are offered for Purchase and are subject to this Agreement and to any terms and conditions of the relevant Merchant.</p>

    <p><strong>5.13&nbsp;</strong>DealsWhat Voucher price: The price of the DealsWhat Voucher does not include service charges, value added , taxes or such other payments, which may be charged to the Purchasers separately by the Merchant, third party service provider, local authority and/or any government body in accordance to the laws imposed on the Voucher&rsquo;s Products/Services upon redemption of DealsWhat Voucher. You expressly agree and acknowledge to pay an amount being the difference between DealsWhat Voucher price and the revised DealsWhat voucher&rsquo;s price due to the foregoing factors.</p>

    <p><strong>5A. CREDIT POINTS</strong></p>

    <p>5A.1 &nbsp;Credit Points of DealsWhat may be issued and stored in your account via the following manners:-</p>

    <p>5A.1.1 as an incentive for your purchase of DealsWhat Vouchers; or</p>

    <p>5A.1.2 as a refund of the Voucher&rsquo;s Products and/or Services; or</p>

    <p>5A.1.3 upon your purchase of gift cards.</p>

    <p>5A. 2 You may use the credit points in exchange for the DealsWhat Vouchers only.</p>

    <p>5A. 3 Limitations:</p>

    <p>5A.3.1. You shall use the credit points to purchase in accordance to the following manner:-</p>

    <p>i. &nbsp;You shall use the credit points as a whole and not in parts of its value thereof in the event you are purchasing &nbsp;DealsWhat Voucher of lower values than the total credit points stored in your account;</p>

    <p>ii. You shall use up the credit points in full in the event you are purchasing DealsWhat Voucher of the same values as the total credit points stored in your account; or</p>

    <p>iii. You shall use the credit points in exchange for a higher value of DealsWhat Vouchers provided that you shall top up the difference between the value of credit points and the said DealsWhat Vouchers.</p>

    <p>5A.3.2. Your credit points shall be deducted accordingly based on the value of the DealsWhat Vouchers you purchase.</p>

    <p>5A.3.3. You shall use the credit points within a validity period as stated in your account. Upon expiry of the said validity period, all unused balance credit points will no longer be valid. &nbsp;</p>

    <p>5A.3.4 The credit points cannot be transferred, resold, redeemed for cash or reloaded.</p>

    <p><strong>6. YOUR OBLIGATIONS</strong></p>

    <p><strong>6.1&nbsp;</strong>Merchant terms: Merchants will have their own applicable terms and conditions, in relation to their own supply of their products and services, and you agree to (and shall) abide by those terms and conditions. The responsibility to do so is yours alone.</p>

    <p><strong>6.2</strong>&nbsp;Accurate information: You warrant that all information provided on Registration and contained as part of your account during the course of this Agreement is true, complete and accurate and that you will promptly inform us of any changes to such information by updating the details in your account.</p>

    <p><strong>6.3</strong>&nbsp;Content on the Website and Service and DealsWhat Vouchers: It is your responsibility to ensure that any products, services or information available through the Website or the Service meet your specific requirements.</p>

    <p><strong>6.4</strong>&nbsp;Things you cannot do: Without limitation, you undertake not to use or permit anyone else to use the Service or Website:</p>

    <p>&nbsp;</p>

    <p><strong>6.4.1</strong>&nbsp;to send or receive any material which is threatening, grossly offensive, of an indecent, obscene or menacing character, blasphemous or defamatory of any person, in contempt of court or in breach of confidence, copyright, rights of personality, publicity or privacy or any other third party rights;</p>

    <p><strong>6.4.2</strong>&nbsp;to send or receive any material for which you have not obtained all necessary licences and/or approvals (from us or third parties), or which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party in any country in the world;</p>

    <p><strong>6.4.3</strong>&nbsp;to send or receive any material which is technically harmful (including computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data);</p>

    <p><strong>6.4.4</strong>&nbsp;to cause annoyance, inconvenience or needless anxiety;</p>

    <p><strong>6.4.5</strong>&nbsp;to intercept or attempt to intercept any communications transmitted by way of a telecommunications system;</p>

    <p><strong>6.4.6</strong>&nbsp;for a purpose other than which we have designed them or intended them to be used;</p>

    <p><strong>6.4.7</strong>&nbsp;for any fraudulent purpose;</p>

    <p><strong>6.4.8</strong>&nbsp;other than in conformance with accepted Internet practices and practices of any connected networks; or</p>

    <p><strong>6.4.9</strong>&nbsp;in any way which is calculated to incite hatred against any ethnic, religious or any other minority or is otherwise calculated to adversely affect any individual, group or entity.</p>

    <p><strong>6.5</strong>&nbsp;Forbidden uses: The following uses of the Service (and Website) and DealsWhat Vouchers are expressly prohibited and you undertake not to do (or to permit anyone else to do) any of the following:</p>

    <p><strong>6.5.1</strong>&nbsp;resale of the Service (or Website) or any DealsWhat Voucher;</p>

    <p><strong>6.5.2</strong>&nbsp;furnishing false data including false names, addresses and contact details and fraudulent use of credit/debit card numbers;</p>

    <p><strong>6.5.3</strong>&nbsp;attempting to circumvent our security or network including accessing data not intended for you, logging into a server or account you are not expressly authorised to access, or probing the security of other networks (such as running a port scan);</p>

    <p><strong>6.5.4</strong>&nbsp;accessing the Service (or Website) in such a way as to, or commit any act that would or does, impose an unreasonable or disproportionately large load on our infrastructure;</p>

    <p><strong>6.5.5</strong>&nbsp;executing any form of network monitoring which will intercept data not intended for you;</p>

    <p><strong>6.5.6</strong>&nbsp;sending unsolicited mail messages, including the sending of &quot;junk mail&quot; or other advertising material to individuals who did not specifically request such material. You are explicitly prohibited from sending unsolicited bulk mail messages. This includes bulk mailing of commercial advertising, promotional, or informational announcements, and political or religious tracts. Such material may only be sent to those who have explicitly requested it. If a recipient asks to stop receiving email of this nature, you may not send that person any further email;</p>

    <p><strong>6.5.7</strong>&nbsp;creating or forwarding &quot;chain letters&quot; or other &quot;pyramid schemes&quot; of any type, whether or not the recipient wishes to receive such mailings;</p>

    <p><strong>6.5.8</strong>&nbsp;ending malicious email, including flooding a user or site with very large or numerous emails;</p>

    <p><strong>6.5.9</strong>&nbsp;entering into fraudulent interactions or transactions with us or a Merchant (which shall include entering into interactions or transactions purportedly on behalf of a third party where you have no authority to bind that third party or you are pretending to be a third party);</p>

    <p><strong>6.5.10</strong>&nbsp;using the Service or Website (or any relevant functionality of either of them) in breach of this Agreement;</p>

    <p><strong>6.5.11</strong>&nbsp;unauthorised use, or forging, of mail header information;</p>

    <p><strong>6.5.12</strong>&nbsp;engage in any unlawful activity in connection with the use of the Website and/or the Service or any DealsWhat Voucher; or</p>

    <p><strong>6.5.13</strong>&nbsp;engage in any conduct which restricts or inhibits any other customer from properly using or enjoying the Website and Service.</p>

    <p><strong>7. RULES ABOUT USE OF THE SERVICE AND THE WEBSITE</strong></p>

    <p>&nbsp;</p>

    <p><strong>7.1</strong>&nbsp;We will use reasonable endeavours to correct any errors or omissions as soon as practicable after being notified of same. However, we do not guarantee that the Service or the Website will be free of faults (or DealsWhat Vouchers will be free of error) and we do not accept liability for any errors or omissions. In the event of an error or fault, you should report it by email to: support@dealswhat.com.</p>

    <p><strong>7.2</strong>&nbsp;We do not warrant that your use of the Service or the Website will be uninterrupted and we do not warrant that any information (or messages) transmitted via the Service or the Website will be transmitted accurately, reliably, in a timely manner or at all.</p>

    <p><strong>7.3</strong>&nbsp;We do not give any warranty that the Service or the Website is free from viruses or anything else which may have a harmful effect on any technology.</p>

    <p><strong>7.4</strong>&nbsp;Also, although we will try to allow uninterrupted access to the Service and the Website, access to the Service and the Website may be suspended, restricted or terminated at any time.</p>

    <p><strong>7.5</strong>&nbsp;We reserve the right to change, modify, substitute, suspend or remove without notice any information or DealsWhat Voucher or service on the Website or forming part of the Service from time to time. Your access to the Website and/or the Service may also be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will attempt to restore such access as soon as we reasonably can. We assume no responsibility for functionality which is dependent on your browser or other third party software to operate (including, without limitation, RSS feeds). For the avoidance of doubt, we may also withdraw any information or DealsWhat Voucher from the Website or Service at any time.</p>

    <p><strong>7.6</strong>&nbsp;We reserve the right to block access to and/or to edit or remove any material which in our reasonable opinion may give rise to a breach of any of this Agreement.</p>

    <p><strong>8. SUSPENSION AND TERMINATION</strong></p>

    <p><strong>8.1</strong>&nbsp;If you use (or anyone other than you with your permission uses) the Website or Service or a DealsWhat Voucher in contravention of this Agreement, we may suspend your use of the Service and/or Website (in whole or in part) and/or a DealsWhat Voucher.</p>

    <p><strong>8.2</strong>&nbsp;If we suspend the Service or Website or a DealsWhat Voucher, we may refuse to restore the Service or Website or Voucher until we receive an assurance from you, in a form we deem acceptable that there will be no further breach of the provisions of this Agreement.</p>

    <p><strong>8.3</strong>&nbsp;DealsWhat Malaysia shall fully co-operate with any law enforcement authorities or court order requesting or directing DealsWhat Malaysia to disclose the identity or locate anyone in breach of this Agreement.</p>

    <p><strong>8.4</strong>&nbsp;Without limitation to anything else in this Clause 8, we shall be entitled immediately or at any time (in whole or in part) to: i) suspend the Service and/or Website; ii) suspend your use of the Service and/or Website; iii) suspend the use of the Service and/or Website for persons we believe to be connected (in whatever manner) to you; and/or iv) terminate this Agreement immediately if:</p>

    <p><strong>8.4.1</strong>&nbsp;you commit any breach of this Agreement;</p>

    <p><strong>8.4.2</strong>&nbsp;we suspect, on reasonable grounds, that you have, might or will commit a breach of these terms; or</p>

    <p><strong>8.4.3</strong>&nbsp;we suspect, on reasonable grounds, that you may have committed or be committing any fraud against us or any other person.</p>

    <p><strong>8.5</strong>&nbsp;Our rights to terminate this Agreement shall not prejudice any other right or remedy we may have in respect of any breach or any rights, obligations or liabilities accrued prior to termination.</p>

    <p><strong>9. INDEMNITY</strong></p>

    <p><strong>9.1</strong>&nbsp;You shall indemnify us against each loss, liability or cost incurred by us arising out of:</p>

    <p><strong>9.1.1</strong>&nbsp;any claims or legal proceedings which are brought or threatened against us by any person arising from:</p>

    <p><strong>i)</strong>&nbsp;your use of the Service or Website;</p>

    <p><strong>ii)</strong>&nbsp;the use of a DealsWhat Voucher;</p>

    <p><strong>iii)</strong>&nbsp;the use of the Service or Website through your password; or</p>

    <p><strong>9.1.2</strong>&nbsp;any breach of this Agreement by you.</p>

    <p><strong>10. STANDARDS AND LIMITATION OF LIABILITY</strong></p>

    <p><strong>10.1</strong>&nbsp;We warrant that:</p>

    <p><strong>10.1.1</strong>&nbsp;we will exercise reasonable care and skill in performing any obligation under this Agreement, and</p>

    <p><strong>10.1.2</strong>&nbsp;we have the right to sell DealsWhat Vouchers and that DealsWhat Vouchers are of satisfactory quality and fit for their purpose.</p>

    <p><strong>10.2</strong>&nbsp;This Clause 10 (and Clause 1.4) prevails over all other Clauses of this Agreement and sets forth our entire Liability, and your sole and exclusive remedies in respect of:</p>

    <p><strong>10.2.1</strong>&nbsp;the performance, non-performance, purported performance or delay in performance by us of this Agreement (including in relation to the Website or Service supplied by us); or</p>

    <p><strong>10.2.2</strong>&nbsp;otherwise in relation to this Agreement or the entering into or performance of this Agreement.</p>

    <p><strong>10.3</strong>&nbsp;Nothing in this Agreement shall exclude or limit our Liability for (i) fraud; (ii) death or personal injury caused by our Breach of Duty; (iii) any breach of the consumer guarantees relating to the supply of products and/or services in Part V and Part VIII to the Consumer Protection Act 1999; or (iv) any other Liability which cannot be excluded or limited by applicable law (including, without limitation liability pursuant to Clause 1.4).</p>

    <p><strong>10.4</strong>&nbsp;Save as provided in Clause 10.3, we do not warrant and we exclude all Liability in respect of:</p>

    <p><strong>10.4.1</strong>&nbsp;the accuracy, completeness, fitness for purpose or legality of any information accessed using the Service or Website or otherwise; and</p>

    <p><strong>10.4.2</strong>&nbsp;the transmission or the reception of or the failure to transmit or to receive any material of whatever nature; and</p>

    <p><strong>10.4.3</strong>&nbsp;your use of any information or materials on the Website (which is entirely at your own risk and it is your responsibility);</p>

    <p><strong>10.4.4</strong>&nbsp;Voucher Services for which DealsWhat Vouchers may be redeemed and in respect of the quality, safety, usability or any other aspect of the products or services in respect of which is DealsWhat Voucher may be redeemed by a Merchant).</p>

    <p><strong>10.5</strong>&nbsp;Save as provided in Clause 10.3 but subject to Clause 10.6, we do not accept and hereby exclude any Liability for loss of or damage to your (or any person&rsquo;s) tangible property other than that caused by our Breach of Duty.</p>

    <p><strong>10.6</strong>&nbsp;To the extent permitted by law, we do not accept and hereby exclude any Liability for Breach of Duty other than any such Liability arising pursuant to the terms of this Agreement.</p>

    <p><strong>10.7</strong>&nbsp;Save as provided in Clause 10.3, we shall have no Liability for:</p>

    <p><strong>10.7.1</strong>&nbsp;loss of revenue;</p>

    <p><strong>10.7.2</strong>&nbsp;loss of actual or anticipated profits;</p>

    <p><strong>10.7.3</strong>&nbsp;loss of contracts;</p>

    <p><strong>10.7.4</strong>&nbsp;loss of the use of money;</p>

    <p><strong>10.7.5</strong>&nbsp;loss of anticipated savings;</p>

    <p><strong>10.7.6</strong>&nbsp;loss of business;</p>

    <p><strong>10.7.7</strong>&nbsp;loss of opportunity;</p>

    <p><strong>10.7.8</strong>&nbsp;loss of goodwill;</p>

    <p><strong>10.7.9</strong>&nbsp;loss of reputation;</p>

    <p><strong>10.7.10</strong>&nbsp;loss of, damage to or corruption of data; or</p>

    <p><strong>10.7.11</strong>&nbsp;any indirect or consequential loss;</p>

    <p>and such Liability is excluded whether it is foreseeable, known, foreseen or otherwise. For the avoidance of doubt, Clauses 10.7.1 to 10.7.10 apply whether such losses are direct, indirect, consequential or otherwise.</p>

    <p><strong>10.8</strong>To the extent permitted by law, our total Liability to you or any third party shall in no circumstances exceed, in aggregate, a sum equal to the greater of: a) RM50; or b) 110% of any aggregate amount paid by you to us in the 12 months preceding any cause of action arising.</p>

    <p><strong>10.9</strong>&nbsp;The limitation of Liability under Clause 10.8 has effect in relation both to any Liability expressly provided for under this Agreement and to any Liability arising by reason of the invalidity or unenforceability of any clause of this Agreement.</p>

    <p><strong>10.10</strong>&nbsp;In this Clause 10:</p>

    <p><strong>10.10.1</strong>&nbsp;&quot;Liability&quot; means liability in or for breach of contract, Breach of Duty, restitution or any other cause of action whatsoever relating to or arising under or in connection with this Agreement, including, without limitation, liability expressly provided for under this Agreement or arising by reason of the invalidity or unenforceability of any clause of this Agreement; and</p>

    <p><strong>10.10.2</strong>&nbsp;&quot;Breach of Duty&quot; means the breach of any (i) obligation arising from the express or implied terms of a contract to take reasonable care or exercise reasonable skill in the performance of the contract or (ii) common law duty to take reasonable care or exercise reasonable skill (but not any stricter duty).</p>

    <p><strong>11. Privacy</strong></p>

    <p><strong>11.1</strong>&nbsp;Please see our&nbsp;<a href="http://www.sgroupon.my/data_privacy">Privacy Policy</a>&nbsp;which is incorporated into and forms part of this Agreement.</p>

    <p><strong>12. ADVERTISEMENTS</strong></p>

    <p><strong>12.1</strong>&nbsp;We may place advertisements in different locations on the Website and at different points during your use of the Service. These locations and points may change from time to time. We will always clearly mark distinguish third party advertisements for products and services from the products and/or services which are the subject of a Voucher and will be supplied by a Merchant when a Voucher purchased by you is redeemed..</p>

    <p><strong>12.2</strong>&nbsp;You are free to select or click on advertised products and services or not as you see fit.</p>

    <p><strong>12.3</strong>&nbsp;Any advertisements may be delivered on our behalf by a third party advertising company.</p>

    <p><strong>12.4</strong>&nbsp;No personal data (for example your name, address, email address or telephone number) will be used if you click on any advertising links on the Website on promotional emails. However, on our behalf, a third-party advertiser or affiliate may place or recognise a unique &quot;cookie&quot; on your browser.</p>

    <p><strong>13. LINKS TO AND FROM OTHER WEBSITES</strong></p>

    <p><strong>13.1</strong>&nbsp;Where the Website contains links to third party sites and to resources provided by third parties (together &quot;Other Sites&quot;), those Other Sites are merely linked to provide information only and are solely for your convenience. We have no control over and do not accept and we assume no responsibility for Other Sites or for the content or products or services of Other Sites (including, without limitation, relating to social networking sites such as Facebook) and we accept no responsibility for any loss or damage that may arise from your use of them. If you decide to access any of the third party websites linked to the website, you do so entirely at your own risk.</p>

    <p><strong>13.2</strong>&nbsp;This dealswhat.com website may make available access to Microsites and if it does, it may do so within or otherwise through external hyperlinks.</p>

    <p><strong>14. INTELLECTUAL PROPERTY RIGHTS</strong></p>

    <p><strong>14.1</strong>&nbsp;All intellectual property rights (including the various rights conferred by statute, common law and equity in and in relation to copyright, patents, trade marks, service marks, trade names and/or designs (including the &quot;look and feel&quot; and other visual or non-literal elements)) (whether registered or unregistered) in (a) the Website and Service, (b) (subject to Clause 14.4) information content on the Website or accessed as part of the Service, (c) any database operated by us and (d) all the website design, text and graphics, software, photos, videos, music, sounds, and their selection and arrangement, and all software compilations, underlying source code and software (including applets and scripts) are owned by us or licensed to us. You shall not, and shall not attempt to, obtain any title to any such intellectual property rights. All rights are reserved.</p>

    <p><strong>14.2</strong>&nbsp;None of the material listed in Clause 14.1 may be reproduced or redistributed or copied, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means, sold, rented or sub-licensed, used to create derivative works, or in any way exploited without our prior express written permission. You may, however, retrieve and display the content of the Website on a computer screen (including any tablet or smartphone device), store such content in electronic form on disk (but not on any server or other storage device connected to a network) or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or content on the Website or accessed as part of the Service without our permission.</p>

    <p><strong>14.3</strong>&nbsp;All rights (including goodwill and, where relevant, trade marks) in the DealsWhat Malaysia name are owned by us or licensed to us. Other product and company names mentioned on the Website are the trade marks or registered trade marks of third parties.</p>

    <p><strong>14.4</strong>&nbsp;Title, ownership rights and intellectual property rights in and to the content accessed using the Service is the property of the applicable content owner or Merchant and may be protected by applicable copyright or other law. Subject to the limited rights described in Clause 14.2, this Agreement gives you no rights to such content.</p>

    <p><strong>14.5</strong>&nbsp;The authors of the literary and artistic works in the pages in the Website have asserted their moral rights to be identified as the author of those works.</p>

    <p><strong>14.6</strong>&nbsp;Any material you transmit, post or submit to us either through the Website or otherwise (&quot;Material&quot;) shall be considered (and we may treat it as) non-confidential (subject to our obligations under data protection legislation). You grant us a royalty-free, perpetual, irrevocable, non-exclusive licence to use, copy, modify, adapt, translate, publish and distribute world-wide any Material (other than Ideas).</p>

    <p><strong>14.7</strong>&nbsp;All comments, suggestions, ideas, notes, drawings or concepts in which intellectual property rights subsist: (i) disclosed or offered to us by you; or (ii) in response to solicitations by us regarding the Service or the Website; (in each foregoing case, these are called &quot;Ideas&quot;) shall be deemed to be and shall remain our property and you hereby assign all existing present and future intellectual property rights in Ideas, to us. You must do all things reasonably requested by us to assure further the assignment of such rights. You understand and acknowledge that we have both internal resources and other external resources which may have developed or may in the future develop ideas identical to or similar to Ideas and that we are only willing to consider Ideas on these terms. In any event, any Ideas are not submitted in confidence and we assume no obligation, express or implied by considering it. Without limitation, we shall exclusively own all now known or hereafter existing rights to the Ideas of every kind and nature throughout the world and shall be entitled to unrestricted use of the Ideas for any purpose whatsoever, commercial or otherwise without compensation to the provider of the Ideas.</p>

    <p><strong>15. GENERAL</strong></p>

    <p><strong>15.1</strong>&nbsp;Interpretation: In this Agreement:</p>

    <p><strong>15.1.1</strong>&nbsp;words denoting persons includes natural persons, partnerships, limited liability partnerships, bodies corporate and unincorporated associations of persons;</p>

    <p><strong>15.1.2</strong>&nbsp;clause headings such as (&quot;15. GENERAL&quot; at the start of this Clause) and clause titles (such as &quot;Interpretation:&quot; at the start of this Clause 15.1) are purely for ease of reference and do not form part of or affect the interpretation of this Agreement; and</p>

    <p><strong>15.1.3</strong>&nbsp;references to &quot;include&quot; and &quot;including&quot; shall be deemed to mean respectively &quot;include(s) without limitation&quot; and &quot;including without limitation&quot;.</p>

    <p><strong>15.2</strong>&nbsp;No partnership/agency: Nothing in this Agreement shall be construed to create a joint venture, partnership or agency relationship between you and us and neither party shall have the right or authority to incur any liability debt or cost or enter into any contracts or other arrangements in the name of or on behalf of the other.</p>

    <p><strong>15.3</strong>&nbsp;No other terms: Except as expressly stated in this Agreement, all warranties, conditions and other terms, whether express or implied, by statute, common law or otherwise are hereby excluded to the fullest extent permitted by law.</p>

    <p><strong>15.4&nbsp;</strong>Assignment: You may not assign or delegate or otherwise deal with all or any of your rights or obligations under this Agreement. We shall have the right to assign or otherwise delegate all or any of our rights or obligations under this Agreement to any person.</p>

    <p><strong>15.5</strong>&nbsp;Force majeure: We shall not be liable for any breach of our obligations under this Agreement where we are hindered or prevented from carrying out our obligations by any cause outside our reasonable control, including by lightning, fire, flood, extremely severe weather, strike, lock-out, labour dispute, act of God, war, riot, civil commotion, malicious damage, failure of any telecommunications or computer system, compliance with any law, accident (or by any damage caused by any of such events).</p>

    <p><strong>15.6</strong>&nbsp;Entire agreement: This Agreement (and our Privacy Policy) contains all the terms agreed between the parties regarding its subject matter and supersedes and excludes any prior agreement, understanding or arrangement between the parties, whether oral or in writing. No representation, undertaking or promise shall be taken to have been given or be implied from anything said or written in negotiations between the parties prior to this Agreement except as expressly stated in this Agreement. However, the Service is provided to you under our operating rules, policies, and procedures as published from time to time on the Website.</p>

    <p><strong>15.7</strong>&nbsp;No waiver: No waiver by us of any default of yours under this Agreement shall operate or be construed as a waiver by us of any future defaults, whether or a like or different character. No granting of time or other forbearance or indulgence by us to you shall in any way release, discharge or otherwise affect your liability under this Agreement.</p>

    <p><strong>15.8</strong>&nbsp;Notices: Unless otherwise stated within this Agreement, notices to be given to either party shall be in writing and shall be delivered by hand, electronic mail (other than, if you are sending a notice to us for the purpose of legal process) sent by fax or by pre-paid post, to you at the address you supplied to us or to us at our registered office.</p>

    <p><strong>15.9</strong>&nbsp;Third party rights: All provisions of this Agreement apply equally to and are for the benefit of DealsWhat Malaysia, its subsidiaries, any holding companies of DealsWhat Malaysia, its (or their) affiliates and its (or their) third party content providers and licensors and each shall have the right to assert and enforce such provisions directly or on its own behalf (save that this Agreement may be varied or rescinded without the consent of those parties).&nbsp;<a href="http://www.groupon.my/terms_and_conditions#_msocom_1">[nt1]</a>&nbsp;</p>

    <p><strong>15.10</strong>&nbsp;Survival: In any event, the provisions of Clauses 1, 2, 5.7, 5.8, 5.9, 5.10, 5.11, 5.12, 6.1, 9, 10, 14 and 15 of this Agreement, together with those provisions that either are expressed to survive its expiry or termination or from their nature or context it is contemplated that they are to survive such termination, shall survive termination of the Agreement. In the event you use the Website or Service again, then the provisions of the terms and conditions that then apply will govern your re-use of the Website or Service. In the event you use Vouchers bought under this Agreement, then those provisions applicable to Vouchers will survive termination of this Agreement.</p>

    <p><strong>15.11</strong>&nbsp;Severability: If any provision of this Agreement is held to be unlawful, invalid or unenforceable, that provision shall be deemed severed and where capable the validity and enforceability of the remaining provisions of this agreement shall not be affected.</p>

    <p><strong>15.12</strong>&nbsp;Governing law: This Agreement (and all non-contractual relationships between you and us) shall be governed by and construed in accordance with laws of Malaysia and both parties hereby submit to the exclusive jurisdiction of the courts of Malaysia.</p>

    <p><strong>16. MISCELLANEOUS</strong></p>

    <p><strong>16.1</strong>&nbsp;The Website and the Service is owned and operated by Strategic Multideals (002423756-H), a company registered in Malaysia whose registered office is at D-109, Block D, Kelana Square, Jalan SS7/26, Kelana Jaya, 47301 Petaling Jaya, Selangor, Malaysia. If you have any queries please contact Customer Services at support@dealswhat.com.</p>

    <p>&nbsp;</p>
</div>
