@model DealsWhat.ViewModels.OrderCheckoutViewModel

<div class="gap"></div>

<h3>Check Out</h3>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="http://localhost:39874/api/payment">
            <input type="submit" value="Hello"/>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <aside class="sidebar-left">
            <div class="box clearfix">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>QTY</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="order-cart-items-tbody">
                        @*@foreach (var cartItem in Model.CartItems)
                        {
                            <tr>
                                <td>@cartItem.Deal.ShortTitle</td>
                                <td>@cartItem.Quantity</td>
                                <td>@cartItem.TotalPrice.ToString("C")</td>
                            </tr>
                        }*@
                    </tbody>
                </table>
                <ul class="cart-total-list text-center mb0">
                    <li><span>Sub Total</span><span id="cart-subtotal">RM 0.00</span>
                    </li>
                    <li><span>Shipping</span><span>RM 0.00</span>
                    </li>
                    <li><span>Taxes</span><span>RM 0.00</span>
                    </li>
                    <li><span>Total</span><span id="cart-total">RM 0.00</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h3>Pay Via Credit/Debit Card</h3>
                <form action="" method="post">
                    <!-- <legend>Personal Information</legend> -->
                    <div class="form-group">
                        <label for="">First & Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="text" class="form-control">
                    </div>
                    <legend>Address</legend>
                    <div class="form-group">
                        <label for="">Country</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">City</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">ZIP/Postal Code</label>
                        <input type="text" class="form-control">
                    </div>
                    <legend>Card Information</legend>
                    <div class="cc-form">
                        <div class="clearfix">
                            <div class="form-group form-group-cc-number">
                                <label>Card Number</label>
                                <input placeholder="xxxx xxxx xxxx xxxx" type="text" class="form-control" /><span class="cc-card-icon"></span>
                            </div>
                            <div class="form-group form-group-cc-cvc">
                                <label>CVC</label>
                                <input placeholder="xxxx" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-group form-group-cc-name">
                                <label>Cardholder Name</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group form-group-cc-date">
                                <label>Valid Thru</label>
                                <input placeholder="mm/yy" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" id="btn-submit-payment" class="btn btn-primary" value="Proceed Payment">
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h3>Pay Via Paypal</h3>
                <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p>

                <form method="post" action="@Url.Action("CheckOutPost")">
                    <input type="submit" id="btn-submit-payment" class="btn btn-primary" value="Checkout via Paypal">
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            loadCart();
        });

        $('#btn-submit-payment').click(function(e) {
            placeOrder();
        });

        function getCartTotalSpecialPrice(carts) {
            var price = 0.0;

            $.each(carts, function (index, cart) {
                price += cart.SpecialPrice;
            });

            return "RM " + price.toFixed(2);
        }

        function loadCart() {
            $.ajax({
                url: baseUrl + "api/cart/",
                method: 'get',
                dataType: 'json',
                cache: false,
                success: function(carts) {
                    buildCartDom(carts);

                    var total = getCartTotalSpecialPrice(carts);
                    $('#cart-total').text(total);
                    $('#cart-subtotal').text(total);
                },
                complete: function() {
                }
            });
        }

        function placeOrder() {
            $.ajax({
                url: baseUrl + "api/order/new",
                method: 'post',
                cache: false,
                success: function (carts) {
                   
                },
                complete: function () {
                }
            });
        }

        function buildCartDom(carts) {
            var tbody = $('#order-cart-items-tbody');

            var dom = '';
            $.each(carts, function (index, cart) {


                    dom += '<tr><td>' + cart.ShortName+  '</td><td>' + '1' + '</td><td> RM ' + cart.SpecialPrice.toFixed(2) + '</td></tr>';
            });

            tbody.append(dom);
        }
    </script>
}