<div class="gap"></div>

<article class="post">
    <div class="post-inner">

        <div class="post-inner">
            <h4 class="post-title">Payment Successful</h4>
            <div class="post-desciption">
                Congratulations! Your payment is successful and the order is currently being processed.<br/>
                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>&nbsp;
                <a href="@Url.Action("Order","Account")" class="btn btn-primary">View My Orders</a>
            </div>
        </div>
    </div>
</article>
