@{
    ViewBag.Title = "Index";
}
<div class="gap-medium"></div>


<article class="post">
    <div class="">
 
        <div class="">
            <img src="/content/img/contact-us2.jpg"/>
            <div id="map-canvas" style="width: 100%; height: 500px;"></div>
            <img style="vertical-align:top" src="/content/img/contact-us-background.jpg"/>
            <script type="text/javascript" src="http://form.jotform.me/jsform/52295082476461"></script>
            <img src="/content/img/contact-us-background.jpg" />
        </div>
    </div>
</article>




@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYaq2aZgiq0kOG8Fz5--d91Z321qzcNW4"></script>
    <script>
        $(document).ready(function () {
            //$("#map-canvas").insertAfter("#main-container");
            updateGoogleMap2();
        });

        function updateGoogleMap2() {
            var lat = "3.1061226";
            var lng = "101.592364";

            if ($('#map-canvas').length) {
                var map,
                    service;
                jQuery(function ($) {
                    $(document).ready(function () {
                        var latlng = new google.maps.LatLng(lat, lng);
                        var myOptions = {
                            zoom: 16,
                            center: latlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);


                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        marker.setMap(map);


                        $('a[href="#google-map-tab"]').on('shown.bs.tab', function (e) {
                            google.maps.event.trigger(map, 'resize');
                            map.setCenter(latlng);
                        });
                    });
                });
            }
        }

    </script>

}